# Loads another .envrc if found when searching from the parent directory
# up to /.
# Use a ~/.envrc file to hold global configuration, and override if necessary
# in this config file.
source_up

use flake
